.Login>form {
    width: 250px;
    text-align: left;
    margin: 20px auto;
    padding: 20px;
    box-shadow: 10px 10px 10px;
    border-radius: 10px;
    transition: 0.3s;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    font-weight: bold;
    color: slateblue;
    border: 3px solid;
}

.Login> form >.LoginMember {
    text-decoration: underline;
    text-align: center;
}

.Login input,
.Login button {
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 20px;
}

.Login .member {
    text-align: center;
}

.Login .registerNow {
    text-align: center;
    text-decoration: underline;
}

.Login .Error {
    color: purple;
    font-weight: bold;
    position: absolute;
    text-align: left;
    right:380px;

}