.VacationsList  > .checkboxVacations > .choose {
    font-weight: bold;
    font-size: 20px; 
    color: orangered;
}


.VacationsList > .checkboxVacations > .FollowedVacations , .FutureVacations , .CurrentVacations{ 
    font-weight: bold;
    font-size: 16px; 
}

.UserContainer,
.AdminContainer {
    margin-left: 25px;
}

.Container {
    display: grid;
    gap: 30px;
}
