.AdminPage {
    border-radius: 5px;
    background-color: rgb(63, 63, 63);
    padding: 20px;
}

.AdminPage label {
    width: 100%;
    margin: auto;
    text-align: center;
    margin-bottom: 20px;

}

.AdminPage input,
.AdminPage select {
    border: 3px solid;
    border-radius: 20px;
    background-color: rgb(172, 172, 172);
    text-align: center;
    color: rgb(0, 0, 0);

}


.AdminPage button {
    background-color: rgb(39, 38, 38);
    color: rgb(47, 166, 29);
    width: 40%;
    border-radius: 20px;
}

.AdminPage button:hover {
    background-color: rgb(12, 217, 40);
    color: whitesmoke;
}


.AdminPage input,
.AdminPage select,
.AdminPage textarea {
    width: 65%;
    margin-bottom: 20px;
    box-sizing: border-box;
}


.AdminPage form {
    width: 40%;
    height: auto;
    min-height: 400px;
    margin: auto;
    border: 1px solid;
    padding: 20px;
    border-radius: 20px;
    background-color: rgb(204, 204, 204);
}

.AdminPage>input[type=text],
select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.AdminPage>input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.AdminPage>input[type=submit]:hover {
    background-color: #45a049;
}